:host {
  .save-palette-form-container {
    .save-palette-form-content {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      min-height: 350px;
      .mat-form-field {
        width: 90%;
      }
      .form-label {
        flex: 1;
        padding: 10px;
      }
    }
    .mat-dialog-actions {
      justify-content: flex-end;
    }
  }
}
