@use '@angular/material' as mat;
@import '../../../../themes/light.theme';

:host {
  height: 90vh;
  padding: 65px 25px 25px 25px;
  width: 100vw;
  overflow-y: auto;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  .tagline {
    padding-top: 40px;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.7);
  }
  .taglineSmall {
    padding-top: 10px;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.5);
  }
}
