:host {
  .color-palette-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex: 1;
    padding: 0px 25px;
    .color-palette {
      margin-right: 15px;
      margin-top: 5px;
    }
  }
}
