@import './themes/light.theme';
html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  font-size: 13px;
  overflow: auto;
  display: flex;
}
.mat-mdc-card-header-text {
  display: flex;
  align-items: center;
}
