:host {
  .custom-search {
    margin: 25px;
  }
  &.mat-toolbar-single-row {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex: 1;
  }
  .custom-search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .custom-search-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      margin-left: 10px;
    }
  }
  ::ng-deep .mat-mdc-form-field {
    margin-left: 15px;
    .mat-form-field-wrapper {
      margin-top: 18px;
    }
  }
}
