<div class="custom-search-container">
  <div class="custom-search-form" [formGroup]="customPaletteSearch">

    <mat-form-field>
      <mat-label>Font-size</mat-label>
      <mat-select formControlName="size" placeholder="Size">
        <mat-option *ngFor="let i of colorPalettesSizes$ | async" [value]="i">
          {{i}} px
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Font-weight</mat-label>
      <mat-select formControlName="fontWeight" placeholder="Weight">
        <mat-option *ngFor="let fw of colorPalettesFontWeights$ | async" [value]="fw">
          {{fw}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <cm-accessibility-info-panel></cm-accessibility-info-panel>
</div>
