:host {
  .color-palette-card {
    transition: transform .2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 1px 15px -1px rgba(0, 0, 70, 0.5), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    &:hover {
      cursor: pointer;
      -ms-transform: scale(1.05); /* IE 9 */
      -webkit-transform: scale(1.05); /* Safari 3-8 */
      transform: scale(1.05);
      z-index: 100;
      box-shadow: 0px 15px 25px -1px rgba(0, 0, 70, 0.5), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    .mat-mdc-card-header {
      display: flex;
      justify-content: space-between;
      padding: 6px 16px 0!important;
      .mat-mdc-card-title {
        cursor: pointer;
        max-width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.3em;
        font-weight: 700;
        padding: 0px 0px 0!important;
      }
      .mat-icon {
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .mat-mdc-card {
      position: relative;
    }
    .mat-mdc-card-content>:last-child:not(.mat-mdc-card-footer) {
      margin-bottom: 0;
    }
    .ng-star-inserted{
      display: flex;
      justify-content: space-between;
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto; //   background-color: #2196F3;
      max-height: 300px;
      height: 300px;
      width: 250px;
    }

    .grid-container {
      display: flex;
      flex-flow: column nowrap;
      max-height: 300px;
      height: 300px;
      width: 250px;
      div {
        flex: 1;
      }
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1px;
      font-size: 30px;
      text-align: center;
    }
    .mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
